#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        single-quotes {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <5 6>;
        };

        double-quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <5 6 7>;
        };

        back-quote {
            bindings = <&kp GRAVE>;
            key-positions = <17 18>;
        };

        brackets {
            bindings = <&brackets>;
            key-positions = <14 17>;
        };

        parentheses {
            bindings = <&parentheses>;
            key-positions = <4 5>;
        };

        braces {
            bindings = <&braces>;
            key-positions = <26 29>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        muhenkan {
            bindings = <&kp INT_MUHENKAN>;
            key-positions = <27 26>;
        };

        henkan {
            bindings = <&kp INT_HENKAN>;
            key-positions = <28 29>;
        };
    };

    macros {
        brackets: brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "BRACKETS";
        };

        braces: braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "BRACES";
        };

        parentheses: parentheses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "PARENTHESES";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                          &kp Y        &kp U  &lt 0 I   &kp O     &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G        &kp ENTER                          &kp MINUS      &kp H        &kp J  &kp K     &kp L     &kp SQT
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B        &kp COLON                          &kp SEMICOLON  &kp N        &kp M  &mkp MB1  &mkp MB2  &kp SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 0 LANG1  &lt 0 SPACE  &lt_to_layer_0 0 INT_MUHENKAN      &kp BACKSPACE  &lt 0 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM {
            bindings = <
&kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N4        &kp KP_N5                                     &kp KP_N6  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0
&trans     &trans     &trans     &kp KP_MULTIPLY  &kp KP_PLUS   &trans            &kp KP_COMMA  &trans     &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp PERCENT
&trans     &trans     &trans     &kp KP_SLASH     &kp KP_MINUS  &kp KP_EQUAL      &kp KP_DOT    &trans     &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans
&kp COLON  &trans     &trans     &trans           &trans        &trans            &trans        &trans                                      &trans
            >;
        };
    };
};
